#nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    /* background-color: #d83900; */
}
#nav-menu a {
    padding-left: 20px;
    padding-right: 20px;
}
a:visited {
    color: black;
}
#intro {
    background-color: #e5fdff;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(0,0,0,.125);
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: rgba(0,0,0,.125);
}
.contactlogo {
    height: 40px;
}
.profilepic {
  border-radius: 15px;
  height: 180px;
}
.links {
    padding: 10px;
}
#front-page {
    height: 60vh;
}
#logos {
  padding: 10px;
}
.heading {
    padding-top: 20px;
}
body {
    font-family: 'Merriweather', serif;
    text-align: center;
}
.web-dev-pic {
    height: 150px;
    display: inline-block;
    margin: auto;
}
.javascript-pic {
    padding-left: 22px;
}
#skills {
    /* background-color: #b22f00; */
    display: block;
    margin-top: 0px;
}
#contact {
    /* background-color: #d83900; */
    padding-top: 8px;
}
a:link {
    text-decoration: none;
}
.projects-container {
    display: grid;
    grid-template-columns: auto;
    margin: 10px;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    padding-bottom: 10px;
}
.project-pic {
    height: 200px;
    width: 250px;
    display: block;
    margin: auto;
    border-radius: 10px;
}
#projects {
    background-color: #e5fdff;
    padding-top: 5px;
}

@media only screen and (min-width: 768px) {
  .projects-container {
      display: grid;
      grid-template-columns: auto auto auto;
      margin: 10px;
      grid-column-gap: 10px;
      grid-row-gap: 15px;
      padding-bottom: 10px;
  }
}
